*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;    
    font-weight: 100;
}

body
{
    margin: 0.1px;
    overflow-x: hidden;
}
/* Alert Message Div */
#MessageDiv
{
    padding-top: 5px;
    color: black;
    display: flex;
    justify-content: center;
    border: 1px rgb(252, 145, 145) solid;
    height: 30px;
    background-color: rgb(252, 145, 145);
}
#MessageDiv a
{
    color: black;
}
#MessageDiv span
{
    position: absolute;
    top: 7px;
    right: 15px;
    font-size: 15px;
}
#MessageDiv span #msgdivimg
{
    height: 13px;
}
/* Alert Message Div END */
/* Navigation Bar */
#NavBar
{
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    border-bottom: 1px rgb(167, 166, 166) solid;
    height: 70px;
}
#NavBar #NavLogo
{
    position: absolute;
    display: flex;
    top: 15px;
    left: 50px;
}
#NavBar .NavList
{
    margin-top: 25px;
}
#NavBar .NavList .NavListItem a:hover
{
    color: #44b39b;
}
#NavBar .NavList .NavListItem
{
    display: inline;
    margin-right: 10px;
}

#NavBar .NavList  .NavListItem a
{
    color: black;
    text-decoration: none;
}
#NavBar .Profile
{
    position: absolute;
    display: flex;
    top: 15px;
    right: 50px;
}
#NavBar .Profile .UserInfos
{
    display: flex;
}
#NavBar .Profile .UserInfos .UserImg
{
    border: 1px #336766 solid;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position:relative;
    background-color: #44b39b;
}
.fa-user
{
    position:absolute;
    top:30%;
    left:30%;
    color: blanchedalmond;
    size: 0px;
}
#NavBar .Profile .UserInfos .UserName
{
    margin-top: 10px;
    margin-left: 5px;
}
#NavBar .Profile .Favorite
{
    margin-top: 5px;
    margin-left: 10px;
    border: 1px #ccf5ec solid;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: #ccf5ec;
}
#NavBar .Profile .Favorite svg
{
    margin-top: 5px;
}
#NavBar .Profile .Cart
{
    margin-top: 5px;
    margin-left: 10px;
    border: 1px #ccf5ec solid;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: #ccf5ec;
}
#NavBar .Profile .Cart svg
{
    margin-top: 5px;
}
/* Navigation Bar END */
/* Main Page Container */
#Container
{
    display: grid;
    justify-items: center;
    grid-auto-rows: minmax(100px, auto);
}
/* Item Presentation */
#ItemDetails{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    margin-top: 30px;
    width: 90%;
}
#ItemDetails .ImgGallery{
    grid-column: 1/3;
    justify-self: center;
}
#ItemDetails .ImgGallery .ImageShowed{
    height: 500px;
    width: 500px;
}
#ItemDetails .ImgGallery .Gallery{
    display: flex;
    align-items: center;
    height: 130px;
    max-width: 450px;
    overflow-x: hidden;
}
#ItemDetails .ImgGallery .ImageShowed img{
    height: 100%;
    width: 100%;
}
#ItemDetails .ImgGallery .GallerySilde{
    height: 150px;
    width: 500px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
#ItemDetails .ImgGallery .GallerySilde #RightArrow {
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-left: 5px;
}
#ItemDetails .ImgGallery .Gallery .GalleryImg{
    margin-left: 10px;
    height: 70px;
    width: 70px;
}
#ItemDetails .ImgGallery .Gallery .ActiveImg{
    border: 2px #44b39b solid;
}
#ItemDetails .ImageShowed{
    height: 80%;
    width: 100%;
}
#ItemDetails .GallerySilde{
    height: 20%;
    width: 100%;
}
#ItemDetails .ItemDetail{
    padding: 15px;
    grid-column: 3/5;
}
#ItemDetails .ItemDetail h3:first-of-type{
    margin-top: 15px;
}
#ItemDetails .ItemDetail .ItemDetailTags{
    margin: 15px 0;
}
#ItemDetails .ItemDetail .ItemDetailTags span{
    padding: 3px;
    font-size: 10px;
    border: 1px rgb(245, 245, 245) solid;
    background-color: rgb(245, 245, 245);
}
#ItemDetails .ItemDetail .ItemDetailPrice,
#ItemDetails .ItemDetail .ItemDetailPrice div{
    margin: 15px 15px 5px 0;
    display: flex;
    align-items:baseline;
}
#ItemDetails .ItemDetail .ItemDetailPrice h3{
    color: #000000;
    font-weight: bold;
}
#ItemDetails .ItemDetail .ItemDetailPrice h4{
    font-weight: bold;
    margin-right: 3px;
}
#ItemDetails .ItemDetail .ItemDetailPrice .NewPrice,
#ItemDetails .ItemDetail .ItemDetailPrice .NewPrice h3{
    font-size: 25px;    
}
#ItemDetails .ItemDetail .ItemDetailPrice .NewPrice h4{
    font-size: 20px;    
}
#ItemDetails .ItemDetail .ItemDetailPrice .OldPrice{
    margin-left: 40px;
}
#ItemDetails .ItemDetail .ItemDetailPrice .OldPrice,
#ItemDetails .ItemDetail .ItemDetailPrice .OldPrice h3{
    font-size: 15px;
    color: #6b6b6b;
    text-decoration: line-through ;
    
}
#ItemDetails .ItemDetail .ItemDetailPrice .Discount{
    color: #ffffff;
    padding: 3px 7px;
    font-size: 13px;
    border: 1px #204546 solid;
    border-radius: 20px;
    background-color: #204546;
}
#ItemDetails .ItemDetail .OliviaHealth{
    display: flex;
    align-items: center;
    margin: 15px 0;
}
#ItemDetails .ItemDetail .OliviaHealth .OliviaHealthLogo{
    border: 1px #336766 solid;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    position:relative;
    background-color: #33676610;
}
.fa-feather{
    position:absolute;
    top:20%;
    left:20%;
    color: #336766;
}
#ItemDetails .ItemDetail .OliviaHealth .OliviaHealthTitle{
    margin-left: 10px;
    color: #336766;
}
#ItemDetails .ItemDetail .BaseHuile ul{
    display: flex;
    margin: 10px 0;
    font-size: 15px;
    list-style: none;
}
#ItemDetails .ItemDetail .BaseHuile li{
    cursor: pointer;
    list-style: none;
    padding: 3px;
    margin: 3px;
    border: 1px rgb(163, 163, 163) solid;
}
#ItemDetails .ItemDetail .BaseHuile .BaseHuileSelected{
    border: 2px #44b39b solid;
}
#ItemDetails .ItemDetail .Origine ul{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
    font-size: 15px;
    list-style: none;
}
#ItemDetails .ItemDetail .Origine li{
    cursor: pointer;
    list-style: none;
    padding: 3px;
    margin: 3px;
    border: 1px rgb(163, 163, 163) solid;
}
#ItemDetails .ItemDetail .Origine .OrigineSelected{
    border: 2px #44b39b solid;
}
#ItemDetails .ItemDetail .ProductCommand .ProductQuantite{
    display: flex;
    align-items: center;
    margin: 15px 0;
}
#ItemDetails .ItemDetail .ProductCommand .ProductQuantite #Quantite{
    height: 30px;
    width: 70px;
    text-align: center;
    font-size: inherit;
    font-weight: bold;
}
#ItemDetails .ItemDetail .ProductCommand .ProductQuantite .AjouterPanierBtn{
    cursor: pointer;
    margin-left: 15px;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    border: 1px #44b39b solid;
    border-radius: 25px;
    width: 200px;
    background-color: #44b39b;
    transition-duration: 0.5s;
}
#ItemDetails .ItemDetail .ProductCommand .ProductQuantite .AjouterPanierBtn:hover{
    transform: scale(1.03);
}
#ItemDetails .ItemDetail .ProductCommand .ProductQuantite .favorite{
    cursor: pointer;
    margin-left: 15px;
    border: 1px #cacaca solid;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: #ffffff;
}
#ItemDetails .ItemDetail .ProductCommand .ProductQuantite .favorite:hover{
    cursor: pointer;
    margin-left: 15px;
    border: 1px #ff7070 solid;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: #ff7070;
}
#ItemDetails .ItemDetail .ProductCommand .ProductQuantite .favorite svg{
    margin: 5px 3px;
}
#ItemDetails .ItemDetail #TelechargerDetails{
    cursor: pointer;
    padding: 5px;
    font-size: 15px;
    border: 1px #44b39b solid;
    border-radius: 20px;
    width: 300px;
    background-color: #ffffff;
    transition-duration: 0.5s;
}
#ItemDetails .ItemDetail #TelechargerDetails:hover{
    transform: scale(1.03);
}
/* Item Presentation END */
/* Item Description */
#ItemDescription{
    margin: 20px;
    width: 85%;
}
#ItemDescription .ItemDescriptionItems{
    border-bottom: 1px rgb(233, 233, 233) solid;
    width: auto;

}
#ItemDescription .ItemDescriptionItems ul{
    display: flex;
    justify-content: baseline;
    height: 40px;
}
#ItemDescription .ItemDescriptionItems ul li{
    list-style: none;
    padding: 10px 20px;
}
#ItemDescription .ItemDescriptionItems ul li:hover{
    border-bottom: 5px #44b39b solid;
    cursor: pointer;
}
.SelectedItem{
    border-bottom: 5px #44b39b solid;
}
#ItemDescription .ItemDescriptionDes{
    margin: 10px;
}
/* Item Description END */
/* Recommendation Items */
#Recommendation{
    margin: 25px 0;
    justify-content: center;
    justify-items: center;
    border: 1px #ffffff solid;   
}
#Recommendation h1{
    margin-bottom: 50px;
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    grid-column: 1/5;
}
.Recommendation{
    margin: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.heartp
{
    position:absolute;
    float: right;

    margin-right: 100px;
}
.imgproduit
{
    margin-right: 195px;
}
.Recommendation .RecProduct{
    border: 1px rgb(230, 230, 230) solid;
    height: auto;
    width: 281px;
    transition-duration: 0.7s;
}
.Recommendation .RecProduct:hover{
    transform: scale(1.05);
}
.Recommendation .RecProduct a{
    text-decoration: none;
    color: #000000;
}
.Recommendation .RecProduct .RecProductDes{
    margin: 20px;
}
.Recommendation .RecProduct .RecProductDes h3{
    color: #336766;
}
.Recommendation .RecProduct .RecProductDes h3,
.Recommendation .RecProduct .RecProductDes h5,
.Recommendation .RecProduct .RecProductDes h6{
    font-weight: 100;
}
.Recommendation .RecProduct .RecProductDes .RecProductPrice{
    margin: 15px 0;
    display: flex;
    align-items: baseline;
}
.Recommendation .RecProduct .RecProductDes .RecProductPrice h3{
    color: #000000;
    font-weight: bold;
}
.Recommendation .RecProduct .RecProductDes .RecProductPrice h4{
    font-weight: bold;
    margin-right: 3px;
}
.Recommendation .RecProduct .RecProductDes .RecProductTags span{
    padding: 3px;
    font-size: 10px;
    border: 1px rgb(245, 245, 245) solid;
    background-color: rgb(245, 245, 245);
}
/* Recommendation Items END */
/* Service Description */
#ServiceDescription{
    padding: 30px;
    border: 1px #f7f7f7 solid;
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    background-color: #f7f7f7;
    width: 100%;
}
#ServiceDescription div{
    text-align: center;
    justify-content: center;
}
#ServiceDescription .ServiceDescriptionImg{
    position: relative;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    border: 1px #ffffff solid;
    border-radius: 50%;
    background-color: #ffffff;
    height: 30px;
    width: 30px;  
}
#ServiceDescription .ServiceDescriptionImg svg{
    padding-top: 5px;
}
#ServiceDescription .ServiceDescriptionHead h4{
    font-weight: 100;
    font-size: 17px;
}
#ServiceDescription .ServiceDescriptionP{
    color: #336766;
    font-size: 12px;
}
/* Service Description END */
/* Email Abonnement */
#EmailAbonnement{
    color: #ffffff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px #44b39b solid;
    background-color: #44b39b;
    width: 100%;
}
#EmailAbonnement .Newsletter p{
    margin-top: 50px;
    margin-left: 20%;
    margin-bottom: 50px;
    font-size: 25px;
    font-weight: bold;
}
#EmailAbonnement .SentEmailForm{
    margin: 30px 0px;
    right: 50px;
}
#EmailAbonnement .SentEmailForm div:first-of-type{
    margin-left: 5px;
    display: flex;
}
#EmailAbonnement .SentEmailForm .TextInput{
    padding-left: 20px;
    height: 35px;
    width: 250px;
    border: 1px rgb(163, 163, 163) solid;
    border-radius: 20px;
}
#EmailAbonnement .SentEmailForm #SentButton{
    margin-left: 15px;
    border: 1px #336766 solid;
    border-radius: 50%;
    background-color: #336766;
    height: 35px;
    width: 35px; 
}
#EmailAbonnement .SentEmailForm #SentButton svg{
    padding: 5px;

}
#EmailAbonnement .SentEmailForm .CheckboxP{
    margin-top: 5px;
    display: flex;
    align-items: baseline;
}
#EmailAbonnement .SentEmailForm .CheckboxP p{
    margin-left: 5px;
    font-size: 10px;
    width: 80%;
}
/* Email Abonnement END */
/* Presentation Paraghraph */
#PresentationParagraph{
    display: flex;
    justify-content: center;
    color: #ffffff;
    border: 1px black solid;
    background-color: #204546;
    width: 100%;
}
#PresentationParagraph p{
    margin: 30px;
    text-align: center;
    width: 80%;
}
/* Presentation Paraghraph END */
/* Main Page Container END */
/* Footer */
#FooterDiv{
    color: #ffffff;
    justify-content: center;
    border: 1px #336766 solid;
    background-color: #336766;
}
#FooterDiv .PageInfo
{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    border-bottom: 1px rgba(255, 255, 255, 0.7) solid;
}
#FooterDiv .PageInfo div{
    margin: 10px;
}
#FooterDiv .PageInfo .Com{
    text-align: center;
}
#FooterDiv .PageInfo .Com .ComHead h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#FooterDiv .PageInfo ul{
    list-style: none;
}

#FooterDiv .PageInfo ul a{
    color: #ffffff;
    text-decoration: none;
}

#FooterDiv .PageInfo ul li{
    padding: 5px 0;
    font-size: 13px;
}

#FooterDiv .PageInfo ul label{
    font-size: 20px;
    font-weight: 700;
}

#FooterDiv .ComInfo{
    display: flex;
    text-align: center;
    margin-top: -30px;
    margin-bottom: 30px;
    margin-left: 60px;
    justify-content: space-around;
    z-index: 1000;
}

#FooterDiv .ComInfo div{
    width: 400px;
}

#FooterDiv .ComInfo .ComInfoSocial span{
    margin: 5px;
}

#FooterDiv .ComInfo .ComInfoSocial .Facebook{
    margin-left: 50px;
}
/* Footer END*/
.badge{
    font-size: 14px;
    font-weight: 900;
    position: absolute;
    border: solid #44b39b;
    border-radius: 60%;
    height: 9px;
    width: 6px;
    font-size: 9px;
    color: blanchedalmond;
    background:#44b39b;
}
@media only screen and (max-width: 600px) 
{
    #MessageDiv
    {
        height: 12px;
    }
    #MessageDiv p 
    {
        font-size: 6px;
    }
    #MessageDiv span 
    {
        font-size: 7px;
        top: 5px;
    }
    #MessageDiv span #msgdivimg
    {
        height: 10px;
    }
    #NavBar
    {
        height: 30px;
        width: 100%;
    }
    #NavBar #NavLogo 
    {
        top: 1px;
        left: 2px;
        height: 9px;
    }
    #NavBar .NavList 
    {
        font-size: 5px;
        width: 150px;
        margin-top: 1px;
        margin-left: 2px;
        align-content: center;

    }
    #NavBar .NavList .NavListItem 
    {
        margin-right: 3px;
    }
    #NavBar .Profile
    {
        height: 70px;
        right: 5px; 
        top: 4px;
        width: 70px;
        
    }
    #NavBar .Profile .UserInfos .UserImg 
    {
        height: 12px;
        width: 12px;
        align-content: center;
        margin-top: 2px;
        margin-left: 2px;
      
    }
    #NavBar .Profile .UserInfos .UserImg .fa-user 
    {
        top: 5%;
        left: 5%;
        height: 5px;
        width: 5px;
        font-size:xx-small;
        align-content: center;
    }
    #NavBar .Profile .UserInfos .UserName
    {
        margin-top: 5px;
        margin-left: 2px;
        font-size: 5px;
    }
    #NavBar .Profile .Favorite 
    {
        margin-top: 1px;
        margin-left: 5px;
        height: 12px;
        width: 12px;
        align-content: center;
    }
    #NavBar .Profile .Favorite svg 
    {
        height: 7px;
        width: 7px;
        padding: 2.5px;
        margin-top: 2.5px;
    }
    #NavBar .Profile .Cart 
    {
        margin-top: 1px;
        margin-left: 5px;
        height: 12px;
        width: 12px;
    } 
    #NavBar .Profile .Cart svg 
    {
        margin-top: 1px;
        height: 8px;
        width: 8px;
        padding: 2px;
        margin: auto;
        justify-content: center;
        
    }
    #NavBar .Profile .Cart .badge
    {
        font-size: 5px;
        font-weight: 900;
        height: 5px;
        width: 3px;
    }
    #Container
    {
       
        display: contents;
        grid-auto-rows: auto;
        margin-top: 3px;
        justify-items: center;
    }
    #ItemDetails
    {
        
        display:block;
        grid-gap: 0;
        margin: 5px;
    }
    #ItemDetails .ImgGallery
    {
        justify-self: start;
        margin: 0;
        grid-column:none;
    }
    #ItemDetails .ImgGallery .ImageShowed
    {
        height: 100%;
        width: 80%;
        margin: 0;
    }
    #ItemDetails .ImgGallery .Gallery
    {
        height: 150px;
        max-width: 100%;
    }
    #ItemDetails .ImgGallery .GallerySilde
    {
        height: 100px;
        width: 90%;
        margin: 0;
    }
    #ItemDetails .ImgGallery .GallerySilde #RightArrow 
    {
        margin-left: 3px;
    }
    #ItemDetails .ImgGallery .Gallery .GalleryImg
    {
        margin-left: 10px;
        height: 50px;
        width: 50px;
    }
    #ItemDetails .ImageShowed
    {
        height: 50%;
        width: 80%;
    }
    #ItemDetails .GallerySilde
    {
        height: 20%;
        width: 80%;
    }
    #ItemDetails .ItemDetail 
    {
        padding: 5px;
        width: 100%;
    } 
    #ItemDetails .ItemDetail h3:first-of-type
    {
        margin-top: 2px;
    }
    #ItemDetails .ItemDetail .ItemDetailTags
    {
        margin: 0;
        width: 80%;
    }
    #ItemDetails .ItemDetail .BaseHuile ul
    {
        font-size: small;
    }
    /* Item Presentation END */
    /* Recommendation Items */ 
    #Recommendation
    {
        margin: 12px 0;
    }
    #Recommendation h1
    {
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 50;
    }
    .Recommendation
    {
        display:contents;
        padding: 5px;
        margin-left: 10px;
    }
    .heartp
    {
        margin-right: 20px;
    }
    .imgproduit
    {
        margin-right: 95px;
        width: 120px;
        height: 85px;
    }
    .Recommendation .RecProduct
    {
        height: auto;
        width: 100%;
    }
    .imgrecom
    {
        height: 85px;
    }
    .Recommendation .RecProduct .RecProductDes
    {
        margin: 10px;
    }
    .Recommendation .RecProduct .RecProductDes h3,
    .Recommendation .RecProduct .RecProductDes h5,
    .Recommendation .RecProduct .RecProductDes h6
    {
        font-weight: 60;
        font-size: 11px;
    }
    .Recommendation .RecProduct .RecProductDes .RecProductPrice
    {
        margin: 15px 0;
    }
    .Recommendation .RecProduct .RecProductDes .RecProductPrice h4
    {
        margin-right: 3px;
        font-size: 12px;
    }
    .Recommendation .RecProduct .RecProductDes .RecProductTags span
    {
        padding: 6px;
        font-size: 8px;
        margin: 3px;
    }
    /* Recommendation Items END */
    /* Service Description */
    #ServiceDescription
    {
        padding: 5px;
        gap: 5px;
        grid-auto-rows: minmax(20px, auto);
        width: 100%;
        display: flex;
    }
    #ServiceDescription .ServiceDescriptionImg
    {
        height: 15px;
        width: 15px; 
    }
    #ServiceDescription .ServiceDescriptionImg svg
    {
        padding-top: 2px;
    }

    /* Service Description END */
    /* Email Abonnement */
    #EmailAbonnement
    {
        width: 100%; 
    }
    #EmailAbonnement .Newsletter p
    {
        font-size: 15px;
    }
    #EmailAbonnement .SentEmailForm
    {
        margin: 30px 0px;
        right: 50px;
    }
    #EmailAbonnement .SentEmailForm div:first-of-type
    {
        margin-left: 5px;
    }
  
    
    #EmailAbonnement .SentEmailForm .CheckboxP p
    {
        font-size: 8px;
        width: 80%;
    }
    /* Email Abonnement END */
    /* Presentation Paraghraph */
    #PresentationParagraph
    {
        width: 100%;
    }
    #PresentationParagraph p
    {
        margin: 30px;
        width: 80%;
    }
    /* Presentation Paraghraph END */
    /* Footer */
    #FooterDiv
    {
        width: 515px;
    }
    #FooterDiv .PageInfo
    {
        margin: 20px;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: minmax(20px, auto);
    }
    #FooterDiv .PageInfo div
    {
        margin: 2px;
    }

    #FooterDiv .PageInfo ul li
    {
        padding: 2px 0;
        font-size: 10px;
    }

    #FooterDiv .PageInfo ul label
    {
        font-size: 15px;
        font-weight: 700;
    }
    #FooterDiv .PageInfo .Com #ComLogoimg
    {
        width: 110px;
        height: 120px;
    }
    #FooterDiv .PageInfo .Com .ComP
    {
        font-size: 11px;
    }

    #FooterDiv .ComInfo
    {
        margin-top: -10px;
        margin-bottom: 10px;
        margin-left: 30px;
        z-index: 1000;
    }

    #FooterDiv .ComInfo div
    {
        width: 400px;
        font-size: 10px;
    }

    #FooterDiv .ComInfo .ComInfoSocial span
    {
        margin: 2px;
    }

    #FooterDiv .ComInfo .ComInfoSocial .Facebook
    {
        margin-left: 20px;
    }
    /* Footer END*/
}